body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0d0d0d;
    color: #ffffff;
}



a {
    color: #a259ff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
    }

    .sidebar a {
        font-size: 1rem;
    }

    .main-content {
        margin-left: 0;
        padding-bottom: 4rem;
    }

    .grid-projetos {
        grid-template-columns: 1fr;
    }
}